<mat-sidenav-container [class.unicorn-dark-theme]="darkTheme">
  <mat-sidenav #sidenav mode="over">
    <app-sidebar (navClick)="sidenav.toggle()"></app-sidebar>
  </mat-sidenav>
  <mat-sidenav #sidenav2 mode="push" align="end"  >
    <p>这个就是看看, 没事就合上吧!</p>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="site">
      <header>
        <app-header (toggle)="sidenav.toggle()" (toggleDarkTheme)="switchTheme($event)"></app-header>
      </header>
      <main>
        <router-outlet></router-outlet>
        <!-- <button (click)="sidenav2.open()" >toggle2</button> -->
      </main>
      <footer>
        <app-footer></app-footer>
      </footer>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
